<h1>Editing　Book</h1>
<% if @book.errors.any? %>
<h2><%= pluralize(@book.errors.count, "error") %> prohibited this product from being saved:</h2>

  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<!-- form_with部分 -->
<%= form_with model: @book, url:"/books/#{@book.id}", local:true do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Update Book' %>
<% end %>

<td><%= link_to "show", book_path(@book.id) %></td>
<td><%= link_to "back", books_path %></td>